@import "tailwindcss";
input{
    height: 80px;
    width: 80px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 50px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    
}